html, body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid seashell;
  position; fixed;
  z-index: 1;
  heignt: 69px;
}
.logo {
  display: flex;
  /*flex-grow: 1;*/
	align-items: center;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav p {
  display: inline-block;
}

nav a {
  text-decoration: underline;
  color: seashell;
}

.main-box {
  display: flex;
  height: 700px;
  background: url("resources/images/mission-background.jpg") no-repeat;
}

.our_mission {
  width: 1200px;
  height: 90px;
  align-items: center;
}
