html, body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.logo {
  display: flex;
  /*flex-grow: 1;*/
	align-items: center;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav p {
  display: inline-block;
}

nav a {
  text-decoration: underline;
  color: seashell;
}
