html, body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid seashell;
  position; fixed;
  z-index: 1;
  heignt: 69px;
}
.logo {
  display: flex;
  /*flex-grow: 1;*/
	align-items: center;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav p {
  display: inline-block;
}

nav a {
  text-decoration: underline;
  color: seashell;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box {
  display: flex;
  height: 700px;
  background-image: url("images/mission-background.jpg");
  background-repeat:no-repeat;
  align-items: center;
  justify-content: center;
}

.our_mission {
  display:flex;
  width: 1200px;
  height: 150px;
  background-color: black;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.tea_month {
  width: 100%;
  /*display: flex;*/
  /*border: 2px solid red;*/
}

.image_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 /* width: 1000px;*/
}

.tea {
  height: 200px;
  width: 300px;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 1100px;
}
#locations {
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px 20px;
  opacity: 1.0;
  background-color: black;
  background-image: url("images/locations-background.jpg");
  background-repeat: no-repeat;
  height: 500px;
}

.location {
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px 20px;
  opacity: 1.0;
  background-color: black;
}

.contact {
  height: 200px;
}

/*.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 margin: auto;
  width: 1100px;
}
.location {
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 5px 20px;
  opacity: 1.0;
  background-color: black;
}*/

/*.location-header {
  background-image: url("images/locations-background.jpg");
  background-repeat: no-repeat;
  display: flex;
  height: 500px;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}*/

/*.location {
  background-color: black;
  height: 300px;
  color: white;
  width: 300px;
  margin: 15px 40px;
  margin: auto;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}*/

/*.locations.Oakdale {
  background-color: black;
  height: 300px;
  opacity: .5;
}*/

/*.location-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}*/



/*Begin correct location code from advisor*/

/*.locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display: flex;
  height: 500px;
  width: 1200px;
  background-repeat: no-repeat;
  margin: 0 auto;
  justify-content: center;
}
.location_header {
  align-self: flex-start;
}
.downtown {
  width: 300px;
  background-color: black;
  color: white;
  height: 300px;
  display: inline-block;
  align-self: center;
}*/

/*begin some of my old location code*/

/*.location_header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display: flex;
  height: 500px;
  width: 1200px;
  background-repeat: no-repeat;
  margin: 0 auto;
  justify-content: center;
}*/

/*.location-header {
  width: 300px;
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.locations {
  width: 300px;
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
